_format_version: "2.1"

services:
- name: auth-v1
  url: http://auth:9999
  routes:
  - name: auth-v1-route
    paths:
    - /auth/v1/

- name: rest-v1
  url: http://rest:3000
  routes:
  - name: rest-v1-route
    paths:
    - /rest/v1/
    strip_path: true

- name: realtime-v1
  url: http://realtime:4000
  routes:
  - name: realtime-v1-route
    paths:
    - /realtime/v1/

- name: storage-v1
  url: http://storage:5000
  routes:
  - name: storage-v1-route
    paths:
    - /storage/v1/

- name: meta-v1
  url: http://meta:8080
  routes:
  - name: meta-v1-route
    paths:
    - /pg/

# CORS configuration
plugins:
- name: cors
  config:
    origins:
    - "*"
    methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
    headers:
    - accept
    - authorization
    - content-type
    - range
    - apikey
    - x-client-info
    exposed_headers:
    - content-length
    - content-range
    credentials: true
    max_age: 3600
